.search-form {
  .search-input {
    overflow: hidden;
  }

  .search-submit {
    margin-left: 5px;
  }
}

.announce {
  color: $color-red;
  margin-bottom: 10px;
}

.powered {
  text-align: center;
  margin-bottom: 20px;
}

.login {
  a {
    padding-left: 17px !important;
  }
  .text.google {
    padding-left: 7px;
  }
}
