.table-title {
  margin-bottom: 10px;
}

.table-striped > thead > tr {
  background-color: #f5f0eb;
}

.tab-chart {
  margin-bottom: 20px;
}

.chart-header {
  margin-top: 20px;
}

.per-container {
  box-sizing: border-box;
  height: 350px;
  margin-bottom: 20px;
  padding: 20px 10px 15px 10px;
  border: 1px solid #ddd;
  background: #fff;
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.tooltip-per {
  position: absolute;
  display: none;
  border: 1px solid #000;
  padding: 2px;
  background-color: #000;
  color: #fff;
  opacity: 0.80;
}
