<li class="<%= 'active' if page.current? %>">
  <%= link_to page, page.current? ? '#' : disclosures_path(@date, page: page.number), {:remote => remote, :rel => page.next? ? 'next' : page.prev? ? 'prev' : nil} %>
</li>
