.highest_forecasts {
  h1 {
    margin-top: 10px;
    margin-bottom: 0px;

    .notes {
      font-size: 12px;
      font-weight: normal;
      padding-left: 10px;
    }
  }

 .table {
    thead > tr > th {
      border-bottom: initial;
      background-color: $color-light-brown;

      &.code {
        min-width: 52px;
      }

      &.name {
        min-width: 252px;
      }

      &.per {
        min-width: 55px;
      }

      &.income {
        min-width: 65px;
      }

      &.net_income {
        min-width: 55px;
      }
    }

    tbody {
      td:nth-child(-n + 3) {
        text-align: center;
      }

      td:nth-child(n + 5) {
        text-align: right;
      }
    }

    th, td {
      &:nth-child(1) {
        min-width: 80px;
      }

      &:nth-child(4), &:nth-child(5), &:nth-child(8), &:nth-child(11) {
        border-right: 1px solid $color-light-gray;
      }
    }

    .link_container {
      min-width: 32px;
    }
  }
}
