.highest_forecasts {
  h1 {
    margin-top: 10px;
    margin-bottom: 0px;

    .notes {
      font-size: 12px;
      font-weight: normal;
      padding-left: 10px;
    }
  }

 .table {
    thead > tr > th {
      border-bottom: initial;
      background-color: $color-light-brown;

      &.date {
        width: 9%;
      }

      &.pdf {
        width: 4.5%;
      }

      &.code {
        width: 6%;
      }

      &.name {
        min-width: 252px;
      }

      &.per, &.ytd {
        width: 6.5%;
      }

      &.income {
        width: 7.25%;
      }

      &.income_short {
        width: 6.125%;
      }
    }

    tbody {
      td:nth-child(-n + 3) {
        text-align: center;
      }

      td:nth-child(n + 5) {
        text-align: right;
      }

      td.income_short_value {
        word-break: break-all;
      }
    }

    th, td {
      &:nth-child(1) {
        min-width: 80px;
      }

      &:nth-child(4), &:nth-child(5), &:nth-child(8), &:nth-child(11) {
        border-right: 1px solid $color-light-gray;
      }
    }

    .link_container {
      min-width: 32px;
    }
  }
}
