.highest_forecasts {
  h1 {
    margin-top: 10px;
    margin-bottom: 20px;

    .notes {
      font-size: 12px;
      font-weight: normal;
      padding-left: 10px;
    }
  }

 .table {
    thead > tr > th {
      border-bottom: initial;
    }

    tbody {
      td:nth-child(-n + 3) {
        text-align: center;
      }

      td:nth-child(n + 4) {
        text-align: right;
      }
    }
  }
}
