/* styling */

.blue {
  color: #0033cd;//#0022cd
}

.btn-toolbar > .btn-group.bootstrap-select {
  float: left;
}

/* table */

thead.space {
  visibility: hidden;

  & > tr > th {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/* component */

.tooltip-white {
  cursor: pointer;

  & > .tooltip {
    line-height: 2;

    & > .tooltip-inner {
      background-color: white;
      color: $color-text;
      border: 1px solid #cccccc;
    }

    & > .tooltip-arrow {
      border-top-color: white;
    }
  }
}

.per-container {
  box-sizing: border-box;
  height: 400px;
  margin-bottom: 20px;
  padding: 20px 10px 15px 10px;
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.tooltip-per {
  position: absolute;
  display: none;
  border: 1px solid #000;
  padding: 2px;
  background-color: #000;
  color: #fff;
  opacity: 0.80;
}

.btn-container {
  margin-left: 5px;
}

.btn-group.wave-dash {
  margin-top: 10px;
}

.btn-mdedium {
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.new-item {
  margin-left: -12px;
  padding-top: 13px;
  font-size: 11px;
  color: orange;
}

/* bootstrap-select */

.bootstrap-select.btn-group.next-picker {
  margin-left: 5px;
}

/* DataTable */

.sorting, .sorting_asc, .sorting_desc {
  cursor: pointer;
}

table.dataTable thead .sorting_asc {
  background: #f5f0eb url("https://cdn.datatables.net/1.10.4/images/sort_asc.png") no-repeat center bottom;
}
table.dataTable thead .sorting_desc {
  background: #f5f0eb url("https://cdn.datatables.net/1.10.4/images/sort_desc.png") no-repeat center bottom;
}

/* bootstrap-datepicker */

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
  text-shadow: none;
}

.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
  text-shadow: none;
}
