/* font-size */
$font-size-normal: 13px;
$font-size-small: 12px;

/* color */
$color-nabvar: #595857;
$color-red: #d3381c;
$color-blue: blue;
$color-green: green;
$color-link: #428bca;
$color-text: #333;
$color-light-gray: #ddd;
$color-light-brown: #f5f0eb;

/* margin, padding */
.ml5 { margin-left: 5px !important; }
.mr5 { margin-right: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pr10 { padding-right: 10px !important; }
.mb20 { margin-bottom: 20px !important; }

/* alignment */
.tac { text-align: center !important; }

$border-divider: 1px solid #e5e5e5;

.float-right {
  float: right !important;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.border-top-none {
  border-top: none !important;
}

.font-size-normal {
  font-size: $font-size-normal;
}
.fw-b { font-weight: bold !important; }

.new {
 // color: #4183c4 !important;
}

.red {
  color: $color-red !important;
}

.blue {
  color: $color-blue !important;
}

.green {
  color: $color-green !important;
}

div.overflow_hidden {
  overflow: hidden;
  height: 17px;
}

.im-overlay {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
}

.sk-spinner-circle.sk-spinner {
  position: fixed;
  z-index: 1100;
  margin-left: -11px;
  top: 30%;
  left: 50%;
}

.navbar-nav svg path {
  fill: #9a9a9a;

  &.none {
    fill: none;
  }
}

.login-area {
  padding: 20px;
  text-align: center;

  .btn {
    padding: 10px 12px;
  }
}

.login {
  text-align: left;

  svg {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  .twitter {
    width: 18px;
    height: 18px;
    vertical-align: top;
  }

  .text {
    padding-left: 5px;
  }
}

.fav {
  width: 20px;
  height: 20px;
  cursor: pointer;
  vertical-align: bottom;
}

.stocks .fav {
  margin-left: 5px;
}

.favorites .fav {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.link_container > a {
  padding-left: 2px;
}

.disclosure-name {
  border: none !important;

  &.border-top {
    border-top: 1px solid $color-light-gray !important;
  }
}

.disclosure-fav {
  width: 10px;
  height: 10px;
  min-width: 10px;
  min-height: 10px;

  path {
    fill: rgb(224, 36, 94);
  }
}
