html
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"]
    meta name="viewport" content="width=device-width, initial-scale=1"
    title
      = @title
    scss:
      * {
        box-sizing: border-box;
      }
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        line-height: 1.428571429;
        color: #333333;
        background-color: #fff;
        margin: 0;
      }
      a {
        text-decoration: none;
      }
      iframe {
        border: 0;
      }
      .navbar {
        position: relative;
        min-height: 40px;
        z-index: 1;
        border: 1px solid #e7e7e7;
      }
      .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
      }
      .navbar-default .navbar-brand {
        color: #595857;
      }
      .navbar-header {
        margin-left: 0px;
        margin-right: 0px;
       }
      .navbar-header:before,
      .navbar-header:after {
        display: table;
        content: " ";
      }
      *:before, *:after {
        box-sizing: border-box;
      }
      .navbar-header:after {
        clear: both;
      }
      .navbar-header:before,
      .navbar-header:after {
        display: table;
        content: " ";
      }
      *:before, *:after {
        box-sizing: border-box;
      }
      .navbar-right {
        float: right !important;
      }
      @media (min-width: 992px) {
        .container {
          width: 970px;
        }
      }
      @media (min-width: 1200px) {
        .container {
          width: 1170px;
        }
      }
      @media (max-width: 1300px) {
        .container{
          width: 900px;
        }
      }
      @media (min-width: 1300px) {
        .container{
          width: 1000px;
        }
      }
      @media (max-width: 768px) {
        body {
          font-size: 14px;
        }
        .container {
          width: unset;
        }
        .navbar {
          min-height: 50px;
        }
        .navbar-brand {
          float: left;
          height: 50px;
          padding: 15px 15px;
          font-size: 18px;
          line-height: 20px;
        }
        .navbar-collapse {
          display: none;
        }
        .navbar-right {
          color: #595857;
          padding-top: 10px;
          padding-bottom: 10px;
          line-height: 20px;
          position: relative;
          display: block;
          padding: 15px 15px;
        }
      }
      @media (min-width: 769px) {
        .container {
          padding-left: 0px;
          padding-right: 0px;
          margin-right: auto;
          margin-left: auto;
          height: 40px; // 追加
        }
        .navbar-header {
          float: left;
        }
        .navbar-brand {
          font-weight: 200;
          font-size: 20px;
          height: 40px;
          float: left;
          padding: 10px 15px;
          line-height: 20px;
          margin-left: -15px;
        }
        .navbar-collapse {
          width: auto;
          border-top: 0;
          box-shadow: none;
          padding-right: 15px;
          padding-left: 15px;
        }
        .navbar-collapse.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }
        .container > .navbar-collapse {
          margin-right: 0;
          margin-left: 0;
        }
        .navbar-collapse:before,
        .navbar-collapse:after {
          display: table;
          content: " ";
        }
        .navbar-nav.navbar-right:last-child {
          margin-right: 0px;
        }
        .navbar-nav {
          margin: 0;
        }
        .nav {
          padding-left: 0;
          list-style: none;
        }
        .nav:before, .nav:after {
          display: table;
          content: " ";
        }
        .navbar-nav > li {
          float: left;
        }
        .nav > li {
          position: relative;
          display: block;
        }
        .navbar-nav > li > a {
          color: #595857;
          padding-top: 10px;
          padding-bottom: 10px;
          line-height: 20px;
          position: relative;
          display: block;
          padding: 10px 15px;
          font-size: 16px;
        }
        a.navbar-right {
          display: none;
        }
      }

  body
    .navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand href="/?pdf"  iMarket（適時開示ネット）
          a.navbar-right href=("/stocks/#{@code}?pdf") 決算短信一覧
        .collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a href=("/stocks/#{@code}") 決算短信一覧

    iframe width="100%" height="100%" src=@pdf
