html
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"]
    meta name="viewport" content="width=device-width, initial-scale=1"
  body style=("margin: 0;")
    .navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand href="/"  iMarket（適時開示ネット）
    scss:
      * {
        box-sizing: border-box;
      }
      body {
        font-size: 12px;
      }
      body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333333;
        background-color: #fff;
      }
      a {
        text-decoration: none;
      }
      iframe {
        border: 0;
      }
      .navbar {
        position: relative;
        min-height: 40px;
        z-index: 1;
        border: 1px solid #e7e7e7;
      }
      .navbar-default {
        background-color: #f8f8f8;
        border-color: #e7e7e7;
      }
      .navbar-default .navbar-brand {
        color: #595857;
      }
      @media (max-width: 768px) {
        .navbar {
          min-height: 50px;
        }
        .navbar-brand {
          float: left;
          height: 50px;
          padding: 15px 15px;
          font-size: 18px;
          line-height: 20px;
        }
        .navbar-header:before,
        .navbar-header:after {
          display: table;
          content: " ";
        }
        *:before, *:after {
          box-sizing: border-box;
        }
        .navbar-header:after {
          clear: both;
        }
        .navbar-header:before,
        .navbar-header:after {
          display: table;
          content: " ";
        }
        *:before, *:after {
          box-sizing: border-box;
        }
      }
      @media (min-width: 769px) {
        .container {
          width: 750px;
          padding-left: 0px;
          padding-right: 0px;
          margin-right: auto;
          margin-left: auto;
        }
        .navbar-brand {
          font-weight: 200;
          font-size: 20px;
          height: 40px;
          float: left;
          padding: 10px 15px;
          line-height: 20px;
          margin-left: -15px;
        }
      }
      @media (min-width: 992px) {
        .container {
          width: 970px;
        }
      }
      @media (min-width: 1200px) {
        .container {
          width: 1170px;
        }
      }
      @media (max-width: 1300px) {
        .container{
          width: 900px;
        }
      }
      @media (min-width: 1300px) {
        .container{
          width: 1000px;
        }
      }

    iframe#inlineFrameExample height="100%" src=("#{@path}.pdf") title=("Inline Frame Example") width="100%"
